.sidebar-group{

    margin-bottom:22px;

}

.sidebar-group label{

    display:block;

    margin-bottom:8px;

    font-size:13px;

    color:#30374F;

    font-weight:500;

}

.sidebar-group select{

    width:100%;

    height:42px;

    border:1px solid #D6DEEA;

    border-radius:8px;

    padding:0 14px;

    outline:none;

    font-size:14px;

    transition:.2s;

}

.sidebar-group select:focus{

    border-color:#163C92;

    box-shadow:0 0 0 3px rgba(22,60,146,.08);

}

.sidebar-card option {
    font-size: 15px;
}

.sidebar-card select{

    appearance:none;
    -webkit-appearance:none;
    -moz-appearance:none;

    background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' fill='none' stroke='%23666' stroke-width='2' viewBox='0 0 24 24'%3E%3Cpath d='m6 9 6 6 6-6'/%3E%3C/svg%3E");

    background-repeat:no-repeat;

    background-position:right 16px center;

    padding-right:45px;
}

.sidebar-group select:disabled {
  color: #000;            /* chữ đen */
  opacity: 1;             /* bỏ hiệu ứng mờ mặc định */
  background-color: #f5f7fa; /* tuỳ chọn: nền xám nhẹ để vẫn phân biệt */
  cursor: not-allowed;    /* vẫn báo hiệu không thể click */
}